body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@keyframes upAndDown {
    0% {
        margin-top: -10px;
    }
    100% {
        margin-top: 0px;
    }
}

.movingImg {
    animation: upAndDown 1s ease-in-out alternate infinite;
}

.buttonHover {
    transition: background-color 0.5s, color 0.5s;
}

.hoverShow {
    transition: opacity 0.5s;
}
