body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes reverse-rotate {
    100% {
        transform: rotate(-360deg);
    }
}

.movingImg {
    animation: rot 25s linear infinite;
}

.rotate_reverse_5s {
    animation: rot_reverse 25s linear infinite;
}

.buttonHover {
    transition: background-color 0.5s, color 0.5s;
}

.hoverShow {
    transition: opacity 0.3s;
}

.horizentalScroll {
    transition: transform 1s;
}

.buttonSelect {
    transition: width 1s, color 1s;
}

.drawerOpen {
    transition: height 0.3s, padding 0.4s;
}

.allTransition {
    transition: all 0.2s;
}

.allTransition1s {
    transition: all 0.2s;
}

.merryGoRound-15s {
    animation: rotate 15s linear infinite;
}
.merryGoRound-reverse-15s {
    animation: reverse-rotate 15s linear infinite;
}

.merryGoRound-20s {
    animation: rotate 20s linear infinite;
}
.merryGoRound-reverse-20s {
    animation: reverse-rotate 20s linear infinite;
}

.merryGoRound-25s {
    animation: rotate 25s linear infinite;
}
.merryGoRound-reverse-25s {
    animation: reverse-rotate 25s linear infinite;
}

.merryGoRound-30s {
    animation: rotate 30s linear infinite;
}
.merryGoRound-reverse-30s {
    animation: reverse-rotate 30s linear infinite;
}
