body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

p {
    white-space: pre;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes reverse-rotate {
    100% {
        transform: rotate(-360deg);
    }
}

.movingImg {
    animation: rot 25s linear infinite;
}

.rotate_reverse_5s {
    animation: rot_reverse 25s linear infinite;
}

.buttonHover {
    transition: background-color 0.5s, color 0.5s;
}

.hoverShow {
    transition: all 0.8s;
}

.hoverShowDesc {
    transition-delay: 0.5s;
    transition-duration: 1.3s;
    transition-property: opacity;
}
.hoverHiddenDesc {
    transition-duration: 0.8s;
    transition-property: opacity;
}

.horizentalScroll {
    transition: transform 0.7s ease-in-out;
}

.buttonSelect {
    transition: width 1s, color 1s, padding 1s;
}

.drawerOpen {
    transition: height 0.3s, padding 0.4s;
}

.allTransition {
    transition: all 0.2s;
}

.allTransitionHalfSecond {
    transition: all 0.5s;
}

.merryGoRound-8s {
    animation: rotate 8s linear infinite;
}
.merryGoRound-reverse-8s {
    animation: reverse-rotate 8s linear infinite;
}

.merryGoRound-9s {
    animation: rotate 9s linear infinite;
}
.merryGoRound-reverse-9s {
    animation: reverse-rotate 9s linear infinite;
}
.merryGoRound-11s {
    animation: rotate 11s linear infinite;
}
.merryGoRound-reverse-11s {
    animation: reverse-rotate 11s linear infinite;
}
.merryGoRound-14s {
    animation: rotate 14s linear infinite;
}
.merryGoRound-reverse-14s {
    animation: reverse-rotate 14s linear infinite;
}

.merryGoRound-19s {
    animation: rotate 19s linear infinite;
}
.merryGoRound-reverse-19s {
    animation: reverse-rotate 19s linear infinite;
}

.merryGoRound-22s {
    animation: rotate 22s linear infinite;
}
.merryGoRound-reverse-22s {
    animation: reverse-rotate 22s linear infinite;
}

.merryGoRound-24s {
    animation: rotate 24s linear infinite;
}
.merryGoRound-reverse-24s {
    animation: reverse-rotate 24s linear infinite;
}
.merryGoRound-29s {
    animation: rotate 29s linear infinite;
}
.merryGoRound-reverse-29s {
    animation: reverse-rotate 29s linear infinite;
}

* {
    box-sizing: border-box;
}
